
.button, form { margin: 0; }

.top-bar { background: #2c3e50; padding: 0 0.9375rem; margin-bottom: 20px; height: auto; }

input[type="text"] { font-size: 11px; }  
.field-wrapper + .field-wrapper { margin-left: 3%; }
.plus { padding: 5px 10px; border-radius: 2px; }
.clearfix:after { content: " "; visibility: hidden; display: block; height: 0; clear: both; }
.inputs { position: relative; margin-top: 20px; }
.top-bar {  }
.top-bar h6 { display: inline; color: #fff; }
.top-bar a { display: inline-block; }


/*Float Label*/
.field-wrapper {
  position:relative;
  margin-bottom:20px;
  display: inline-block;
  float: left; width: 16%;
}
label {
  position:absolute;
  top:-13px;
  font-size:10px;
  color:#aaa;
  transition: all 0.1s linear;
  opacity:0;
  font-weight:bold;
}
label.on {
  color:#4481C4;
}
label.show {
  top:-15px;
  opacity:1;
}

.panel-top { margin-bottom: 20px; }
.count { color: #6B6474; font-size: 16px; } 

#official-docs, #offical-docs-close, #docs-insert  { display: none; }
.docs-insert { border: 1px dotted #a0d3e8; border-top: none; position: relative; bottom: 20px; padding: 20px; background: #f5f5f5; margin-top: 20px;}
.offical-docs-close:after { content: "X"; color: red; font-weight: bold; position: relative; left: 10px;}
.offical-docs-close { margin-right: 20px !important; display: inline-block; }
.nav .alert-box { position: fixed; width: 100%; z-index: 1; position: fixed; }
.nav { padding-bottom: 80px; }
.bg { background: #2c3e50; }


.wrap-option { font-size: 13px; }
.icon-off { display: none; }
.icon-on { display: block; }
.code .fi-check { position: absolute; right: 20px; bottom: 7px; font-size: 25px; } 
.example-wrap { font-size: 11px; }
.example-hover { padding: 0.5em; display: none; position: absolute; z-index: 1; width: 100%;  }
.example-wrap:hover .example-hover { display: block; }