
body { background: url(../img/bg.png); }
.button, form { margin: 0; }
input[type="text"], input[type="checkbox"] { margin-bottom: 0.5em; }


.top-bar { background: #7C7C7C; padding: 0 0.9375rem; margin-bottom: 20px; height: auto; }
.offical-docs-link { color: #111; margin-right: 5px; }
.offical-docs-link:hover { color: #333; }
.top-bar .fi-x:before { position: absolute; right: 0; top: 15px; color: red;}
.top-bar .fi-x:hover { text-decoration: none; }
.top-bar .fi-page-doc { position: absolute; right: 0; top: 0px; }

input[type="text"] { font-size: 11px; }  
.field-wrapper + .field-wrapper { margin-left: 3%; }
.plus { padding: 5px 10px; border-radius: 2px; }
.clearfix:after { content: " "; visibility: hidden; display: block; height: 0; clear: both; }
.inputs { position: relative; margin-top: 20px; }
.top-bar {  }
.top-bar h6 { display: inline; color: #fff; margin-top: 50px; font-size: 18px; color: #111; }
.top-bar a { display: inline-block; }




/*Float Label*/
.field-wrapper {
  position:relative;
  margin-bottom:20px;
  display: inline-block;
  float: left; width: 16%;
}
label {
  position:absolute;
  top:-13px;
  font-size:10px;
  color:#aaa;
  transition: all 0.1s linear;
  opacity:0;
  font-weight:bold;
}
label.on {
  color:#4481C4;
}
label.show {
  top:-15px;
  opacity:1;
}

.panel-top { margin-bottom: 20px; }
.count { color: #6B6474; font-size: 16px; } 
.title { margin-left: 20px; color: #A0999C; font-size: 16px; display: inline-block; }


#official-docs, #offical-docs-close, #docs-insert  { display: none; }
.docs-insert { border: 1px dotted #a0d3e8; border-top: none; position: relative; bottom: 20px; padding: 20px; background: #f5f5f5; margin-top: 20px;}
.offical-docs-close:after { content: "X"; color: red; font-weight: bold; position: relative; left: 10px;}
.offical-docs-close { margin-right: 20px !important; display: inline-block; }
.nav .alert-box { position: fixed; width: 100%; z-index: 1; position: fixed; }
.nav { padding-bottom: 80px; }
.bg { background: #2c3e50; }
.logo { float: left; margin-right: 35px; margin-bottom: 10px; }


.wrap-option { font-size: 13px; }
.icon-off { display: none; }
.icon-on { display: block; }
.code .fi-check { position: absolute; right: 20px; bottom: 7px; font-size: 25px; } 
.example-wrap { font-size: 11px; }
.example-hover { padding: 0.5em; display: none; position: absolute; z-index: 1; width: 100%;  }
.example-wrap:hover .example-hover { display: block; }
.total-count { background: #666; display: inline-block; padding: 20px 28px; font-size: 30px; opacity: .75; position: fixed; top: 150px; right: 10%; }



/*Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
.top-bar { text-align: center; }
.offical-docs-link.right { float: none !important; }
.field-wrapper { display: block; width: 100%; }
.field-wrapper + .field-wrapper { margin-left: 0; }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*Medium screen*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*Large screens*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/*XLarge screen*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*XXLarge scree*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */